# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/

# Temporary and output directories
/hyperopt_temp_results/
/backtest_results_sol_2019_2024/

# Log files
*.log
